.App {
  text-align: center;
}


.table-header {
  position: sticky;
  top: 0;
  background-color: white; /* Header'ın arka plan rengi */


}


.highlight-green {
  animation: flash-green 1s forwards;
}

.highlight-red {
  animation: flash-red 1s forwards;
}

.highlight-gray {
  animation: flash-gray 1s forwards;
}

@keyframes flash-green {
  0% {
    background-color: #d4f4dd;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flash-red {
  0% {
    background-color: #f8d7da;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flash-gray {
  0% {
    background-color: #e2e3e5;
  }
  100% {
    background-color: transparent;
  }
}

